* {
    font-family: Arial, sans-serif;
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding: 20px;
}

.judul {
    color: rgb(5, 7, 100);
}

.pas-poto-nasya {
    width: 200px;
    border-radius: 10px;
}

.profil-pribadi {
    font-size: 20px;
}

.panel {
    color: rgb(239, 121, 141);
    background-color: #9bd85b;
    padding: 20px;
    border-radius: 20px;
}

.Data-Diri {
    border-color: rgb(239, 121, 141);
    border-collapse: collapse;   
}

td {
    padding: 5px;
}

h2 {
    color: rgb(241, 98, 218);
}

ol {
    list-style: upper-roman;
    text-align: left;
}

a {
    color: rgb(241, 98, 218);
    text-decoration: none;
}

a::before {
    content: " - ";
}

a::after {
    content: " - ";
}

a:hover {
    color: red;
    font-size: 20px;
    transition-duration: 1s;
}